/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Barra de navegación */
header {
    background-color: #333;
    padding: 1em 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9800;
}

/* Secciones */
section {
    padding: 2em;
    text-align: center;
}

.section-home {
    background-color: #ff9800;
    color: white;
}

.section-rating, .section-classification {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Lista de clasificación */
ul {
    list-style-type: none;
}

ul li {
    padding: 0.5em;
    background-color: #f9f9f9;
    margin-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
