/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

p {
    font-size: 1.2em;
    color: #555;
}

/* Barra de navegación */
header {
    background-color: #2C3E50;
    padding: 1em 0;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ECF0F1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ff9800;
}

/* Logo */
.logo {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

/* Secciones */
.seccion {
    display: none; /* Todas las secciones están ocultas inicialmente */
    padding: 2em;
}

.visible {
    display: block; /* La sección visible se muestra */
}

/* Sección Players */
#players-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 2em;
}

.player-card {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.player-card img {
    max-width: 100px;
    border-radius: 50%;
}

/* Sección Teams */
#teams-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 2em;
}

.team-card {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card img {
    max-width: 80px;
    border-radius: 50%;
}

/* Sección MVP */
.mvp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1em;
}

.mvp-grande {
    max-width: 150px;
}

.mvp-container img {
    max-width: 80px;
}

/* Imagen de bienvenida */
.imagen-bienvenida {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

/* Adaptación para móviles */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
    }

    .nav-menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .nav-menu-btn:hover {
        cursor: pointer;
    }

    nav ul.active {
        display: flex;
    }

    .player-card img, .team-card img {
        max-width: 80px;
    }
}
